body{
font-family:Arial;
margin:0;
}

header{
background:#f4f4f4;
padding:20px;
}

.skip-link{
position:absolute;
top:-40px;
left:0;
background:black;
color:white;
padding:8px;
z-index:100;
}

.skip-link:focus{
top:0;
}

nav{
display:inline-block;
width:80%;
}

nav img{
width:10%;
}

/* li{
display:inline;
} */

.grid{
display:grid;
grid-template-columns:40% 40%;
justify-content:space-around;
align-items:center;
row-gap:20px;
padding:20px;
}

.grid img{
width:100%;
}

.flex{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
padding:20px;
}

.flex img{
width:30%;
margin:10px;
}

footer{
background:#eee;
text-align:center;
padding:20px;
margin-top:40px;
}